{% extends 'base.html.twig' %}

{% block title %}AllStudio!{% endblock %}

{% block body %}
	<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="{{ asset('build/images/ERA_FIVERR2020_8705.jpg') }}" class="d-block w-100" alt="1.5 ton grip">
			</div>
			<div class="carousel-item">
				<img src="{{ asset('build/images/1.5 ton grip package.jpeg') }}" class="d-block w-100" alt="1.5 ton grip">
			</div>
			<div class="carousel-item">
				<img src="{{ asset('build/images/3 ton grip package.jpeg') }}" class="d-block w-100" alt="3 ton grip">
			</div>
		</div>
	</div>
{% endblock %}
