<footer>
	<div class="container">
		<div class="row">
			<div class="col">
				{{  "now"|date("m/d/Y")  }}
			</div>
		</div>
		<div>
			<i class="fa fa-facebook-square" aria-hidden="true"></i>
			<i class="fa fa-google-plus-square" aria-hidden="true"></i>
			<i class="fa fa-twitter-square" aria-hidden="true"></i>
		</div>
	</div>


</footer>
