<footer>
	<div class="mt-5 bg-light pt-2 d-flex flex-column align-items-center justify-content-center bg-white">
		<div>
			<i class="fa fa-facebook-square" aria-hidden="true"><img src="{{asset('build/images/icons-logo-facebook.png')}}" class="" width="30px" alt="logo_facebook"></i>
			<i class="fa fa-instagram-plus-square" aria-hidden="true"><img src="{{asset('build/images/logo_insta.png')}}" class="" width="36px" alt="logo_instagram"></i>
			<i class="fa fa-twitter-square" aria-hidden="true"><img src="{{asset('build/images/logo_twitter.png')}}" class="" width="38px" alt="logo_twitter"></i>
		</div>
		<div class="row">
			<div class="col">
				<p>ogami studios © {{  "now"|date("M D Y  H:m:s P")  }}- All Rights Reserved</p>
			</div>
		</div>
	</div>


</footer>
